.cabecalho{
        background-color: #ECECEC;
        color: black; display: flex;
        justify-content: space-between;
    }


.cabecalho-imagem{
 width: 10%;

  }
    
    .cabecalho-lista-item{



    }


